{% extends 'base.html.twig' %}

{% block body %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae consequatur deleniti eius enim ex hic incidunt minima, mollitia nesciunt nostrum officia quaerat quasi quos rem, sapiente soluta, tempora voluptatem.</p>
{% endblock %}

